.chef {
  margin-top: 50px;
  margin-bottom: 30px;
}
.chef__div {
  height: 500px;
  background-color: var(--clr-maroon);
  display: flex;
 
}
.chef__div-left {
  width: 60%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--size-xl);
  color: var(--clr-light);
  margin: auto;
  margin-right: -40px;
}
.chef__div-left h2{
  /* margin-right: -140px; */
}
.chef__div-left-text {
  color: var(--clr-light);
  margin-left: 10px;
  font-size: var(--size-lg);
  width: 60%;
  margin-top: 20px;
  /* margin-right: -230px; */
  
}
.chef__div-left-span {
  font-size: var(--size-6xl);
  text-align: center;
}
.chef__div-right {
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 430px; */
}
.chef__div-img {
  height: 600px;
  width: 600px;
  margin-left: 10px;
  

}

/* xs */
@media (max-width: 475px) {
  .chef__div-right {
    display: none;
  }
  .chef__div-left {
    margin: auto;
    width: 100%;
  }
  .chef__div {
    height: 700px;
  }
  .chef__div-left-text {
    width: 100%;
    text-align: center;
    
    /* font-size: var(--size-base); */
  }
  .chef__div-left h2{
    font-size: var(--size-xl);
    text-align: center;
   }

}
@media (min-width: 475px) {
  .chef__div-right {
    display: none;
  }
  .chef__div-left {
    margin: auto;
    width: 100%;
   
  }
  .chef__div {
    height: 600px;
  }
  .chef__div-left-text {
    width: 100%;
    /* font-size: var(--size-base); */
    text-align: center;
    margin-bottom: 10px;
  }
  .chef__div-left h2{
    font-size: var(--size-2xl);
    text-align: center;
   }
  
}
/* sm */
@media (min-width: 640px) {
  .chef__div-right {
    display: none;
  }
  .chef__div-left {
    margin: auto;
    
  }
  .chef__div-left-text {
    width: 100%;
    /* font-size: var(--size-base); */
  }
  .chef__div-left h2{
    font-size: var(--size-3xl);
    /* margin-right: -40px; */
    /* padding-left: 30px; */
    text-align: center;

   }
   .chef__div{
    height:480px ;
  }
}
/* md */
@media (min-width: 768px) {
  .chef__div-right {
    display: block;
  }
  .chef__div-left-text {
    width: 110%;
    font-size: var(--size-base);
  }
  .chef__div{
    height:400px ;
  }
  
  .chef__div-left h2{
   /* margin-left: 50px; */
  }
  .chef__div-left{
    margin-right: -270px;
    padding-left: 100px;
  }
  .chef__div-right{
    width: 60%; 
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-left: 100px;
    /* margin-right: 100px; */
   
  
  }
  .chef__div-img {
    height: 400px;
    width: 400px;
   
    /* margin-left: -200px; */
    
  }
  .chef__div-left h2{
    font-size: var(--size-xl);
   }

}
/* lg */
@media (min-width: 1024px) {
  .chef__div-right {
    display: block;
    margin-left: 200px;
  }
  .chef__div-left-text {
    width: 130%;
    font-size: var(--size-lg);
  }
  .chef__div-img {
    height: 600px;
    width: 600px;
    
  }
  .chef__div-left{
    margin-right: -230px;
    margin-left: 100px;
  }
  
  .chef__div{
    height:600px ;
  }
  .chef__div-left h2{
    font-size: var(--size-3xl);
    margin-right: 23px;
    text-align: center;
   }
}
/* xl */
@media (min-width: 1280px) {
  .chef__div-right {
    display: block;
    /* width: 60%; */
    margin-left: 200px;
  }
  .chef__div-left-text {
    width: 130%;
    font-size: var(--size-lg);
    
  }
  .chef__div-img {
    height: 600px;
    width: 600px;
    
  }
  .chef__div-left{
    margin-right: -230px;
    margin-left: 140px;
  }
  .chef__div-left h2{
    font-size: var(--size-3xl);
    /* margin-right: -140px; */
   }
  
}
/* 2xl */
@media (min-width: 1536px) {
  .chef__div-right {
    display: block;
    margin-left: 350px;
  }
  .chef__div-left-text {
    width: 100%;
    font-size: var(--size-xl);
  }
  .chef__div-left{
    /* margin-right: -130px; */
    width: 1500px;
    margin-left: 50px;
   
    
  }
  .chef__div-img{
    height: 600px;
    width: 600px;
   
  }
  .chef__div-right{
    /* margin-right: 90px; */
    /* padding-right: 100px; */
    /* width: 50%; */
    margin-left: 150px;
  }
  .chef__div-left h2{
    font-size: var(--size-3xl);
   }
  .chef__div{
    height:600px ;
  }
}
