.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  z-index: 9999;
  background-color: rgba(19, 14, 14, 0.49);
  height: 10px;
  width: 100%;
  margin-top: -34px;
  
  /* width: 0000px; */
}

.header.sticky{
  background-color: var(--clr-maroon);
}

.header.sticky .header__link{
  color: var(--clr-gold);
}


.header__nav {
  /* background-color: rgb(220, 220, 220, 1.39); */
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 265px;
}
.header__nav1 {
  display: flex;
  align-items: center;
  font-size: var(--size-xl);
  position: relative;
  color: var(--clr-light);
}

.header__menu {
  display: none;
  position: relative;
  
}

.header__link{
  color: var(--clr-light);
  position: relative;
}
.header__bars {
  color: var(--clr-light);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
}



@media (max-width: 330px) {
  .header__nav {
    gap: 70px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
  }
  .btns {
    display: none;
  }
  .hh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
   }

}

@media (min-width: 330px) {
  .header__nav {
    gap: 150px;
  }
  .btns {
    display: none;
  }
  .hh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
   }
}

/* xs */
@media (min-width: 475px) {
  .header__nav {
    gap: 250px;
  }
  .btns {
    display: none;
  }
  .hh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
   }
}
/* sm */
@media (min-width: 640px) {
  .header__nav {
    gap: 450px;
  }
  .btns {
    display: none;
  }
  .header__bars{
    display: block;

  }
 
  .hh{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
  }
  
}
/* md */
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    /* border: 1px solid red; */
    padding: 0;
    gap: 2em;
    /* padding-right: -70px; */
    margin-right: -60px;
  }

  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    /* color: var(--clr-slate600); */
    color: var(--clr-dark);
    letter-spacing: -0.05em;
    transition: color 0.3s;
    font-size: var(--size-base);
  }
  .header__link {
    
    color: var(--clr-light)
  }


  .header__link:hover {
    color: var(--clr-rose);
  }

  .header__line {
    border: 1px solid var(--clr-slate600);
    padding-top: 1.5em;
  }

  .header__bars {
    display: none;
  }
  .header__nav {
    gap: 110px;
  }
  .btns {
    display: block;
  }
  .hh{
    display: none;

   }
}
/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-lg);
    color: var(--clr-light)
  }

  .header__nav {
    gap: 250px;
    
  }
  .header__menu{
   margin-right: -160px;
  }

  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }
  .header__resume {
    font-size: var(--size-sm);
  }
  .btns {
    display: block;
  }
  .hh{
    display: none;

   }
}
/* xl */
@media (min-width: 1280px) {
  .header__nav {
    gap: 300px;
  }
  .header__link {
    font-size: var(--size-lg);
    color: var(--clr-light)
  }
  .btns {
    display: block;
  }
  .hh{
    display: none;

   }
 
}
/* 2xl */
@media (min-width: 1536px) {
  .header__nav {
    gap: 495px;
  }
  .header__link {
    font-size: var(--size-lg);
    color: var(--clr-light)
  }
  .btns {
    display: block;
  }
  .hh{
    display: none;

   }


}
